In [60]:
import pandas as pd
from  datetime import datetime
import math

In [304]:
# check each home valid column
for house_id in ['A', 'B', 'C', 'D', 'F', 'G', 'H']:
    for meter_number in [1,2,3,4]:   
        for year in [2014, 2015, 2016]:
            try:
                power_df = pd.read_csv(f'./data/Home{house_id}/{year}/Home{house_id}-meter{meter_number}_{year}.csv')
                print('house_id: ', house_id)
                print('year: ', year)
                print('meter_number: ', meter_number)
                # 30min -> should include 17520 data a year
                # 1hr -> should include 8760 data a year
                # 1min -> should include 525600 data a year
                print(power_df.shape)
                print(power_df.columns)
                print('---------------')
                # check column exist
                if 'use [kW]' in power_df.columns:
                    print("[Use] valid power usage column: ", len(power_df[power_df['use [kW]'] != 0]))
                if 'gen [kW]' in power_df.columns:
                    print("[Gen] valid power generate column: ", len(power_df[power_df['gen [kW]'] != 0]))
                if 'Solar [kW]' in power_df.columns:
                    print("[Gen] valid Solar generate column: ", len(power_df[power_df['Solar [kW]'] != 0]))

                if 'House overall [kW]' in power_df.columns:
                    print("[Use] valid overall power usage column: ", len(power_df[power_df['House overall [kW]'] != 0]))

                if 'Usage [kW]' in power_df.columns:
                    print("[Use] valid power usage column: ", len(power_df[power_df['Usage [kW]'] != 0]))

                if 'Generation [kW]' in power_df.columns:
                    print("[Gen] valid total power generate column: ", len(power_df[power_df['Generation [kW]'] != 0]))

                if 'Grid [kW]' in power_df.columns:
                     print("[Grid] valid power get from grid column: ", len(power_df[power_df['Grid [kW]'] != 0]))

                if 'Net_Meter [kW]' in power_df.columns:
                     print("[Grid] valid power get from Net column: ", len(power_df[power_df['Net_Meter [kW]'] != 0]))
                        
                if 'gen [kW]' in power_df.columns and 'Solar [kW]' in power_df.columns:
                    if sum(power_df['gen [kW]']) == sum(power_df['Solar [kW]']):
                        print('[Gen] = Solar')

                if 'Generation [kW]' in power_df.columns and 'Solar [kW]' in power_df.columns:
                    if sum(power_df['Generation [kW]']) == sum(power_df['Solar [kW]']):
                        print('[Gen] = Solar')
                    
                print('------------------------------------------\n')
            except FileNotFoundError:
                print('')

house_id:  A
year:  2014
meter_number:  2
(17520, 14)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FurnaceHRV [kW]',
       'CellarOutlets [kW]', 'WashingMachine [kW]', 'FridgeRange [kW]',
       'DisposalDishwasher [kW]', 'KitchenLights [kW]', 'BedroomOutlets [kW]',
       'BedroomLights [kW]', 'MasterOutlets [kW]', 'MasterLights [kW]',
       'DuctHeaterHRV [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2015
meter_number:  2
(17520, 14)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FurnaceHRV [kW]',
       'CellarOutlets [kW]', 'WashingMachine [kW]', 'FridgeRange [kW]',
       'DisposalDishwasher [kW]', 'KitchenLights [kW]', 'BedroomOutlets [kW]',
       'BedroomLights [kW]', 'MasterOutlets [kW]', 'MasterLights [kW]',
       'DuctHeaterHRV [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2016
meter_number:  2
(246639, 14)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FurnaceHRV [kW]',
       'CellarOutlets [kW]', 'WashingMachine [kW]', 'FridgeRange [kW]',
       'DisposalDishwasher [kW]', 'KitchenLights [kW]', 'BedroomOutlets [kW]',
       'BedroomLights [kW]', 'MasterOutlets [kW]', 'MasterLights [kW]',
       'DuctHeaterHRV [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2014
meter_number:  3
(17520, 11)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'ElectricRange [kW]',
       'Dryer [kW]', 'GarageMudroomLights [kW]', 'DiningRoomOutlets [kW]',
       'MudroomOutlets [kW]', 'MasterBathOutlets [kW]', 'GarageOutlets [kW]',
       'BasementOutdoorOutlets [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2015
meter_number:  3
(39799, 11)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'ElectricRange [kW]',
       'Dryer [kW]', 'GarageMudroomLights [kW]', 'DiningRoomOutlets [kW]',
       'MudroomOutlets [kW]', 'MasterBathOutlets [kW]', 'GarageOutlets [kW]',
       'BasementOutdoorOutlets [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2016
meter_number:  3
(503820, 11)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'ElectricRange [kW]',
       'Dryer [kW]', 'GarageMudroomLights [kW]', 'DiningRoomOutlets [kW]',
       'MudroomOutlets [kW]', 'MasterBathOutlets [kW]', 'GarageOutlets [kW]',
       'BasementOutdoorOutlets [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2014
meter_number:  4
(35040, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'KitchenDenLights [kW]',
       'MasterBedBathLights [kW]', 'MasterOutlets [kW]',
       'DenOutdoorLights [kW]', 'DenOutlets [kW]', 'RearBasementLights [kW]',
       'KitchenOutletsEast [kW]', 'KitchenOutletsSouth [kW]',
       'DishwasherDisposalSinkLight [kW]', 'Refrigerator [kW]',
       'Microwave [kW]', 'OfficeLights [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2015
meter_number:  4
(35040, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'KitchenDenLights [kW]',
       'MasterBedBathLights [kW]', 'MasterOutlets [kW]',
       'DenOutdoorLights [kW]', 'DenOutlets [kW]', 'RearBasementLights [kW]',
       'KitchenOutletsEast [kW]', 'KitchenOutletsSouth [kW]',
       'DishwasherDisposalSinkLight [kW]', 'Refrigerator [kW]',
       'Microwave [kW]', 'OfficeLights [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  A
year:  2016
meter_number:  4
(502743, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'KitchenDenLights [kW]',
       'MasterBedBathLights [kW]', 'MasterOutlets [kW]',
       'DenOutdoorLights [kW]', 'DenOutlets [kW]', 'RearBasementLights [kW]',
       'KitchenOutletsEast [kW]', 'KitchenOutletsSouth [kW]',
       'DishwasherDisposalSinkLight [kW]', 'Refrigerator [kW]',
       'Microwave [kW]', 'OfficeLights [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  B
year:  2014
meter_number:  1
(17520, 18)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Grid [kW]', 'AC [kW]',
       'Furnace [kW]', 'Cellar Lights [kW]', 'Washer [kW]',
       'First Floor lights [kW]', 'Utility Rm + Basement Bath [kW]',
       'Garage outlets [kW]', 'MBed + KBed outlets [kW]',
       'Dryer + egauge [kW]', 'Panel GFI (central vac) [kW]',
       'Home Office (R) [kW]', 'Dining room (R) [kW]', 'Microwave (R) [kW]',
       'Fridge (R) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  17520
[Gen] valid power generate column:  0
[Grid] valid power get from grid column:  17520
------------------------------------------

house_id:  B
year:  2015
meter_number:  1
(17520, 18)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Grid [kW]', 'AC [kW]',
       'Furnace [kW]', 'Cellar Lights [kW]', 'Washer [kW]',
       'First Floor lights [kW]', 'Utility Rm + Basement Bath [kW]',
       'Garage outlets [kW]', 'MBed + KBed outlets [kW]',
       'Dryer + egauge [kW]', 'Panel GFI (central vac) [kW]',
       'Home Office (R) [kW]', 'Dining room (R) [kW]', 'Microwave (R) [kW]',
       'Fridge (R) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  17520
[Gen] valid power generate column:  0
[Grid] valid power get from grid column:  17520
------------------------------------------

house_id:  B
year:  2016
meter_number:  1
(247600, 18)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Grid [kW]', 'AC [kW]',
       'Furnace [kW]', 'Cellar Lights [kW]', 'Washer [kW]',
       'First Floor lights [kW]', 'Utility Rm + Basement Bath [kW]',
       'Garage outlets [kW]', 'MBed + KBed outlets [kW]',
       'Dryer + egauge [kW]', 'Panel GFI (central vac) [kW]',
       'Home Office (R) [kW]', 'Dining room (R) [kW]', 'Microwave (R) [kW]',
       'Fridge (R) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  247600
[Gen] valid power generate column:  0
[Grid] valid power get from grid column:  247600
------------------------------------------

house_id:  B
year:  2014
meter_number:  2
(17520, 16)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'old usage [kW]',
       'Home office [kW]', 'Dining room [kW]', 'Microwave [kW]',
       'First floor [kW]', 'Tub Whirpool [kW]', 'Kitchen counter [kW]',
       'Dishwasher [kW]', 'Fridge [kW]', 'Guest Bedroom / Media Room [kW]',
       'MBed KBed Lights &amp;  MasterBath  [kW]',
       'Living room &amp; Kitchen Lights [kW]',
       'Bath GFI (1st &amp; 2nd floor bath) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  B
year:  2015
meter_number:  2
(39795, 16)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'old usage [kW]',
       'Home office [kW]', 'Dining room [kW]', 'Microwave [kW]',
       'First floor [kW]', 'Tub Whirpool [kW]', 'Kitchen counter [kW]',
       'Dishwasher [kW]', 'Fridge [kW]', 'Guest Bedroom / Media Room [kW]',
       'MBed KBed Lights &amp;  MasterBath  [kW]',
       'Living room &amp; Kitchen Lights [kW]',
       'Bath GFI (1st &amp; 2nd floor bath) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  B
year:  2016
meter_number:  2
(503910, 16)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'old usage [kW]',
       'Home office [kW]', 'Dining room [kW]', 'Microwave [kW]',
       'First floor [kW]', 'Tub Whirpool [kW]', 'Kitchen counter [kW]',
       'Dishwasher [kW]', 'Fridge [kW]', 'Guest Bedroom / Media Room [kW]',
       'MBed KBed Lights &amp;  MasterBath  [kW]',
       'Living room &amp; Kitchen Lights [kW]',
       'Bath GFI (1st &amp; 2nd floor bath) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------







house_id:  C
year:  2014
meter_number:  1
(17520, 19)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'House overall [kW]',
       'Dishwasher [kW]', 'Furnace 1 [kW]', 'Furnace 2 [kW]',
       'Home office [kW]', 'Fridge [kW]', 'Wine cellar [kW]',
       'Garage door [kW]', 'Kitchen 12 [kW]', 'Kitchen 14 [kW]',
       'Kitchen 38 [kW]', 'Barn [kW]', 'Well [kW]', 'Microwave [kW]',
       'Living room [kW]', 'Solar [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  17520
[Gen] valid power generate column:  17135
[Gen] valid Solar generate column:  17135
[Use] valid overall power usage column:  17520
[Gen] = Solar
------------------------------------------

house_id:  C
year:  2015
meter_number:  1
(39764, 19)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'House overall [kW]',
       'Dishwasher [kW]', 'Furnace 1 [kW]', 'Furnace 2 [kW]',
       'Home office [kW]', 'Fridge [kW]', 'Wine cellar [kW]',
       'Garage door [kW]', 'Kitchen 12 [kW]', 'Kitchen 14 [kW]',
       'Kitchen 38 [kW]', 'Barn [kW]', 'Well [kW]', 'Microwave [kW]',
       'Living room [kW]', 'Solar [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  39764
[Gen] valid power generate column:  36037
[Gen] valid Solar generate column:  36037
[Use] valid overall power usage column:  39764
[Gen] = Solar
------------------------------------------

house_id:  C
year:  2016
meter_number:  1
(503910, 19)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'House overall [kW]',
       'Dishwasher [kW]', 'Furnace 1 [kW]', 'Furnace 2 [kW]',
       'Home office [kW]', 'Fridge [kW]', 'Wine cellar [kW]',
       'Garage door [kW]', 'Kitchen 12 [kW]', 'Kitchen 14 [kW]',
       'Kitchen 38 [kW]', 'Barn [kW]', 'Well [kW]', 'Microwave [kW]',
       'Living room [kW]', 'Solar [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  503909
[Gen] valid power generate column:  503846
[Gen] valid Solar generate column:  503846
[Use] valid overall power usage column:  503909
[Gen] = Solar
------------------------------------------

house_id:  C
year:  2014
meter_number:  2
(17520, 9)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'LivingRoomOutlets [kW]',
       'Barn [kW]', 'Well [kW]', 'Microwave [kW]', 'WasherDrier [kW]',
       'Solar [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  17520
[Gen] valid Solar generate column:  17520
[Gen] = Solar
------------------------------------------

house_id:  C
year:  2015
meter_number:  2
(39824, 9)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'LivingRoomOutlets [kW]',
       'Barn [kW]', 'Well [kW]', 'Microwave [kW]', 'WasherDrier [kW]',
       'Solar [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  39818
[Gen] valid Solar generate column:  39818
[Gen] = Solar
------------------------------------------

house_id:  C
year:  2016
meter_number:  2
(503910, 9)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'LivingRoomOutlets [kW]',
       'Barn [kW]', 'Well [kW]', 'Microwave [kW]', 'WasherDrier [kW]',
       'Solar [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  503868
[Gen] valid Solar generate column:  503868
[Gen] = Solar
------------------------------------------








house_id:  D
year:  2015
meter_number:  1
(3924, 44)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FreshAirVentilation [kW]',
       'HousePanel [kW]', 'LivingRoomReceptacles [kW]',
       'SecondFloorBathroom [kW]', 'WashingMachine [kW]',
       'Studies&amp;OutsideLighting [kW]', 'DiningRoomReceptacles [kW]',
       'Basement&amp;HallLighting [kW]', 'GuestHouseBathroom [kW]',
       'GuestHouseBedroom [kW]', 'WorkshopReceptacleBathHeater [kW]',
       'GuestHouseKitchen [kW]', 'GuestHouseKitchen [kW].1',
       'GroundSourceHeatPump [kW]', 'Photovoltaics [kW]', 'WellPump [kW]',
       'Range [kW]', 'SecondFloorBathroom [kW].1', 'PanelReceptacles [kW]',
       'KitchenReceptacles [kW]', 'Microwave [kW]', 'Refrigerator [kW]',
       'NetHousePowerUsage [kW]', 'GarageReceptacles&amp;Lights [kW]',
       'GarageReceptacles [kW]', 'ShedReceptacles [kW]', 'ShedLights [kW]',
       'PanelReceptacles [kW].1', 'GaragePV [kW]', 'GuestHouseLivingRoom [kW]',
       'MasterBedroom [kW]', 'HeatCirculatorPumps [kW]',
       'DomesticHotWaterReserve [kW]', 'MasterBathroom [kW]',
       'KitchenIsland [kW]', 'RadiantHeatReserveTank [kW]',
       'BasementReceptacles [kW]', 'Dryer [kW]', 'KitchenLighting [kW]',
       'GuestHouseDiningRoomRecept [kW]', 'Porch+VerandaLighting [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  2847
[Gen] valid power generate column:  2478
------------------------------------------

house_id:  D
year:  2016
meter_number:  1
(499652, 44)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FreshAirVentilation [kW]',
       'HousePanel [kW]', 'LivingRoomReceptacles [kW]',
       'SecondFloorBathroom [kW]', 'WashingMachine [kW]',
       'Studies&amp;OutsideLighting [kW]', 'DiningRoomReceptacles [kW]',
       'Basement&amp;HallLighting [kW]', 'GuestHouseBathroom [kW]',
       'GuestHouseBedroom [kW]', 'WorkshopReceptacleBathHeater [kW]',
       'GuestHouseKitchen [kW]', 'GuestHouseKitchen [kW].1',
       'GroundSourceHeatPump [kW]', 'Photovoltaics [kW]', 'WellPump [kW]',
       'Range [kW]', 'SecondFloorBathroom [kW].1', 'PanelReceptacles [kW]',
       'KitchenReceptacles [kW]', 'Microwave [kW]', 'Refrigerator [kW]',
       'NetHousePowerUsage [kW]', 'GarageReceptacles&amp;Lights [kW]',
       'GarageReceptacles [kW]', 'ShedReceptacles [kW]', 'ShedLights [kW]',
       'PanelReceptacles [kW].1', 'GaragePV [kW]', 'GuestHouseLivingRoom [kW]',
       'MasterBedroom [kW]', 'HeatCirculatorPumps [kW]',
       'DomesticHotWaterReserve [kW]', 'MasterBathroom [kW]',
       'KitchenIsland [kW]', 'RadiantHeatReserveTank [kW]',
       'BasementReceptacles [kW]', 'Dryer [kW]', 'KitchenLighting [kW]',
       'GuestHouseDiningRoomRecept [kW]', 'Porch+VerandaLighting [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  499643
[Gen] valid power generate column:  455079
------------------------------------------


house_id:  D
year:  2015
meter_number:  2
(26395, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'GuestHouseKitchen [kW]',
       'GuestHouseKitchen [kW].1', 'GroundSourceHeatPump [kW]',
       'Photovoltaics [kW]', 'WellPump [kW]', 'Range [kW]',
       'SecondFloorBathroom [kW]', 'PanelReceptacles [kW]',
       'KitchenReceptacles [kW]', 'KitchenReceptacles [kW].1',
       'Microwave [kW]', 'Refrigerator [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  D
year:  2016
meter_number:  2
(503880, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'GuestHouseKitchen [kW]',
       'GuestHouseKitchen [kW].1', 'GroundSourceHeatPump [kW]',
       'Photovoltaics [kW]', 'WellPump [kW]', 'Range [kW]',
       'SecondFloorBathroom [kW]', 'PanelReceptacles [kW]',
       'KitchenReceptacles [kW]', 'KitchenReceptacles [kW].1',
       'Microwave [kW]', 'Refrigerator [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------


house_id:  D
year:  2015
meter_number:  3
(52717, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'GuestHouseLivingRoom [kW]',
       'MasterBedroom [kW]', 'HeatCirculatorPumps [kW]',
       'DomesticHotWaterReserve [kW]', 'MasterBathroom [kW]',
       'KitchenIsland [kW]', 'RadiantHeatReserveTank [kW]',
       'BasementReceptacles [kW]', 'Dryer [kW]', 'KitchenLighting [kW]',
       'GuestHouseDiningRoomRecept [kW]', 'Porch+VerandaLighting [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  D
year:  2016
meter_number:  3
(503925, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'GuestHouseLivingRoom [kW]',
       'MasterBedroom [kW]', 'HeatCirculatorPumps [kW]',
       'DomesticHotWaterReserve [kW]', 'MasterBathroom [kW]',
       'KitchenIsland [kW]', 'RadiantHeatReserveTank [kW]',
       'BasementReceptacles [kW]', 'Dryer [kW]', 'KitchenLighting [kW]',
       'GuestHouseDiningRoomRecept [kW]', 'Porch+VerandaLighting [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------


house_id:  D
year:  2015
meter_number:  4
(52727, 10)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'NetHousePowerUsage [kW]',
       'GarageReceptacles [kW]', 'GarageReceptacles&amp;Lights [kW]',
       'ShedReceptacles [kW]', 'ShedLights [kW]', 'PanelReceptacles [kW]',
       'GaragePV [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------

house_id:  D
year:  2016
meter_number:  4
(503925, 10)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'NetHousePowerUsage [kW]',
       'GarageReceptacles [kW]', 'GarageReceptacles&amp;Lights [kW]',
       'ShedReceptacles [kW]', 'ShedLights [kW]', 'PanelReceptacles [kW]',
       'GaragePV [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid power generate column:  0
------------------------------------------




house_id:  F
year:  2014
meter_number:  2
(35040, 24)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'WaterHeater [kW]',
       'Solar [kW]', 'Refrigerator [kW]', 'Microwave [kW]', 'Furnace [kW]',
       'WaterHeater3 [kW]', 'WaterHeater2 [kW]', 'WaterHeater1 [kW]',
       'Master_Bdrm [kW]', 'Front_Bdrm [kW]', 'Kit_StoveWall [kW]',
       'Dishwasher_Disposal [kW]', 'Kit_SinkWall [kW]', 'Family_Rm [kW]',
       'Kit_Half-Bath_Foyer [kW]', 'Washing_Machine [kW]',
       'Guest_Bdrm_SmkDet [kW]', 'Dryer [kW]', 'Basement [kW]', 'Phase_B [kW]',
       'Phase_A [kW]'],
      dtype='object')
---------------
[Gen] valid Solar generate column:  35040
[Use] valid power usage column:  35040
[Gen] valid total power generate column:  35040
[Gen] = Solar
------------------------------------------

house_id:  F
year:  2015
meter_number:  2
(35040, 24)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'WaterHeater [kW]',
       'Solar [kW]', 'Refrigerator [kW]', 'Microwave [kW]', 'Furnace [kW]',
       'WaterHeater3 [kW]', 'WaterHeater2 [kW]', 'WaterHeater1 [kW]',
       'Master_Bdrm [kW]', 'Front_Bdrm [kW]', 'Kit_StoveWall [kW]',
       'Dishwasher_Disposal [kW]', 'Kit_SinkWall [kW]', 'Family_Rm [kW]',
       'Kit_Half-Bath_Foyer [kW]', 'Washing_Machine [kW]',
       'Guest_Bdrm_SmkDet [kW]', 'Dryer [kW]', 'Basement [kW]', 'Phase_B [kW]',
       'Phase_A [kW]'],
      dtype='object')
---------------

[Gen] valid Solar generate column:  35040
[Use] valid power usage column:  34999
[Gen] valid total power generate column:  35040
[Gen] = Solar
------------------------------------------

house_id:  F
year:  2016
meter_number:  2
(501907, 24)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'WaterHeater [kW]',
       'Solar [kW]', 'Refrigerator [kW]', 'Microwave [kW]', 'Furnace [kW]',
       'WaterHeater3 [kW]', 'WaterHeater2 [kW]', 'WaterHeater1 [kW]',
       'Master_Bdrm [kW]', 'Front_Bdrm [kW]', 'Kit_StoveWall [kW]',
       'Dishwasher_Disposal [kW]', 'Kit_SinkWall [kW]', 'Family_Rm [kW]',
       'Kit_Half-Bath_Foyer [kW]', 'Washing_Machine [kW]',
       'Guest_Bdrm_SmkDet [kW]', 'Dryer [kW]', 'Basement [kW]', 'Phase_B [kW]',
       'Phase_A [kW]'],
      dtype='object')
---------------
[Gen] valid Solar generate column:  501900
[Use] valid power usage column:  501884
[Gen] valid total power generate column:  501900
[Gen] = Solar
------------------------------------------

house_id:  F
year:  2014
meter_number:  3
(35040, 10)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'Net_Meter [kW]',
       'Volt [kW]', 'Garage_E [kW]', 'Garage_W [kW]', 'Phase_A [kW]',
       'Phase_B [kW]', 'Solar [kW]'],
      dtype='object')
---------------
[Gen] valid Solar generate column:  34920
[Use] valid power usage column:  34952
[Gen] valid total power generate column:  34920
[Grid] valid power get from Net column:  35002
[Gen] = Solar
------------------------------------------

house_id:  F
year:  2015
meter_number:  3
(56488, 10)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'Net_Meter [kW]',
       'Volt [kW]', 'Garage_E [kW]', 'Garage_W [kW]', 'Phase_A [kW]',
       'Phase_B [kW]', 'Solar [kW]'],
      dtype='object')
---------------
[Gen] valid Solar generate column:  56423
[Use] valid power usage column:  56430
[Gen] valid total power generate column:  56423
[Grid] valid power get from Net column:  56430
[Gen] = Solar
------------------------------------------

house_id:  F
year:  2016
meter_number:  3
(503925, 10)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'Net_Meter [kW]',
       'Volt [kW]', 'Garage_E [kW]', 'Garage_W [kW]', 'Phase_A [kW]',
       'Phase_B [kW]', 'Solar [kW]'],
      dtype='object')
---------------
[Gen] valid Solar generate column:  503605
[Use] valid power usage column:  503611
[Gen] valid total power generate column:  503605
[Grid] valid power get from Net column:  503617
[Gen] = Solar
------------------------------------------





house_id:  G
year:  2015
meter_number:  1
(24587, 14)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Electronics closet [kW]',
       'Office outlets 2 [kW]', 'Dishwasher &amp; disposal [kW]',
       'Hot tub [kW]', 'HP #3 [kW]', 'HP #2 [kW]', 'HP #1 [kW]',
       'Wall oven [kW]', 'ERV + humidifier + fountain [kW]',
       'Freezer + gallery lights [kW]', 'Phoenix boiler [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  22071
[Gen] valid power generate column:  0
------------------------------------------

house_id:  G
year:  2016
meter_number:  1
(503880, 14)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Electronics closet [kW]',
       'Office outlets 2 [kW]', 'Dishwasher &amp; disposal [kW]',
       'Hot tub [kW]', 'HP #3 [kW]', 'HP #2 [kW]', 'HP #1 [kW]',
       'Wall oven [kW]', 'ERV + humidifier + fountain [kW]',
       'Freezer + gallery lights [kW]', 'Phoenix boiler [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  503880
[Gen] valid power generate column:  0
------------------------------------------


house_id:  G
year:  2015
meter_number:  2
(24590, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Kitchen lights [kW]',
       'Wilo pump [kW]', 'Dining + foyer lights [kW]', 'Basement lights [kW]',
       'Dining lights [kW]', 'HVAC circulator + hydronic valv [kW]',
       'Gallery track lights [kW]', 'Guest room lights [kW]',
       'Refrigerator [kW]', 'Office + sewing lights [kW]',
       'HVAC air handler [kW]', 'PGR lights [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  22074
[Gen] valid power generate column:  0
------------------------------------------

house_id:  G
year:  2016
meter_number:  2
(503880, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Kitchen lights [kW]',
       'Wilo pump [kW]', 'Dining + foyer lights [kW]', 'Basement lights [kW]',
       'Dining lights [kW]', 'HVAC circulator + hydronic valv [kW]',
       'Gallery track lights [kW]', 'Guest room lights [kW]',
       'Refrigerator [kW]', 'Office + sewing lights [kW]',
       'HVAC air handler [kW]', 'PGR lights [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  503880
[Gen] valid power generate column:  0
------------------------------------------





house_id:  G
year:  2015
meter_number:  4
(3032, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Kitchen microwave [kW]',
       'Water pump [kW]', 'Kitchen outlets 1 [kW]', 'Kitchen outlets 2 [kW]',
       'Ejector pump [kW]', 'Office outlets 1 [kW]', 'Kitchen outlets 3 [kW]',
       'Guest room outlets [kW]', 'Range oven [kW]', 'Kitchen outlets 4 [kW]',
       'Kitchen outlets 5 [kW]', 'PGR outlets [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  517
[Gen] valid power generate column:  0
------------------------------------------

house_id:  G
year:  2016
meter_number:  4
(500453, 15)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'Kitchen microwave [kW]',
       'Water pump [kW]', 'Kitchen outlets 1 [kW]', 'Kitchen outlets 2 [kW]',
       'Ejector pump [kW]', 'Office outlets 1 [kW]', 'Kitchen outlets 3 [kW]',
       'Guest room outlets [kW]', 'Range oven [kW]', 'Kitchen outlets 4 [kW]',
       'Kitchen outlets 5 [kW]', 'PGR outlets [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  500452
[Gen] valid power generate column:  0
------------------------------------------



house_id:  H
year:  2016
meter_number:  1
(272745, 14)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]',
       'Kitchen Outlet/Espresso (32) [kW]', 'Hot Water Heater (22) [kW]',
       'Dining Room (15) [kW]', 'Fridge+Ent Lights(west) (20) [kW]',
       'Clothes Washing Machine (10) [kW]', 'Dishwasher (17) [kW]',
       '2nd Fl West Bedroom (21) [kW]', 'Master+NE Bedroom + N Bath (27) [kW]',
       'Elec Heat (Bed NE+M) (16+18) [kW]', 'Furnace (29) [kW]',
       'Laund+LivingR+Hall Lights (24) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  0
[Gen] valid total power generate column:  0
------------------------------------------



house_id:  H
year:  2016
meter_number:  2
(272745, 11)
Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'Grid [kW]',
       'Kitchen (39) [kW]', '1st Floor Bedroom (37) [kW]', 'Oven (7+5) [kW]',
       'Dryer (36+34) [kW]', 'Basement/Dehumidifier (31) [kW]',
       'Basement+Family Room (19) [kW]',
       'Elec Heat (Bed W+Bath N)(12+14) [kW]'],
      dtype='object')
---------------
[Use] valid power usage column:  272745
[Gen] valid total power generate column:  0
[Grid] valid power get from grid column:  272745
------------------------------------------

In [121]:
house_id = 'F'
year = '2014'
meter_number = 2

weather_df = pd.read_csv(f'./data/Home{house_id}/home{house_id}{year}.csv')
print(weather_df.columns)
weather_df.head()

Index(['temperature', 'icon', 'humidity', 'visibility', 'summary',
       'apparentTemperature', 'pressure', 'windSpeed', 'cloudCover', 'time',
       'windBearing', 'precipIntensity', 'dewPoint', 'precipProbability'],
      dtype='object')

,temperature,icon,humidity,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,time,windBearing,precipIntensity,dewPoint,precipProbability
0,20.85,clear-night,0.46,10.0,Clear,8.33,1023.40,12.83,0.0,1388552400,284,0.0,3.36,0.0
1,19.72,clear-night,0.47,10.0,Clear,8.49,1023.36,10.03,0.0,1388556000,285,0.0,2.94,0.0
2,18.75,clear-night,0.51,10.0,Clear,8.99,1024.41,7.65,0.0,1388559600,257,0.0,3.62,0.0
3,17.97,clear-night,0.55,10.0,Clear,8.16,1025.14,7.50,0.0,1388563200,244,0.0,4.39,0.0
4,15.73,clear-night,0.61,10.0,Clear,7.26,1025.27,5.62,0.0,1388566800,213,0.0,4.56,0.0

In [123]:
# Extract Datetime (2014-01-01 00:00:00) to datetime features (year,mon, day, hr, min, weekday, is_holiday))

def add_time_features(house):
    house['datetime'] = house['Date & Time'].map(lambda x: datetime.strptime(x[:19], "%Y-%m-%d %H:%M:%S"))
    house = house.sort_values(by=['datetime'])
    house['year'] = [time.year for time in house['datetime']]
    house['mon'] = [time.month for time in house['datetime']]
    house['day'] = [time.day for time in house['datetime']]
    house['hr'] = [time.hour for time in house['datetime']]
    house['min'] = [time.minute for time in house['datetime']]
    house['weekday'] = [time.weekday() for time in house['datetime']]
    
    is_holiday_format = lambda x: 1 if x>4 else 0
    house['is_holiday'] = house['weekday'].map(is_holiday_format)
    
    # 3600 * 13 -> GMT-5 ~ GMT+8
    house['time'] = [int(datetime.timestamp(time)) + 3600*13 for time in house['datetime']]
    
    house= house.drop(['datetime'], axis=1)

    return house

power_df = pd.read_csv(f'./data/Home{house_id}/{year}/Home{house_id}-meter{meter_number}_{year}.csv')
time_power_df = add_time_features(power_df)
time_power_df.head()

,Date & Time,Usage [kW],Generation [kW],WaterHeater [kW],Solar [kW],Refrigerator [kW],Microwave [kW],Furnace [kW],WaterHeater3 [kW],WaterHeater2 [kW],...,Phase_B [kW],Phase_A [kW],year,mon,day,hr,min,weekday,is_holiday,time
0,2014-01-01 00:00:00,0.977402,0.009264,0.296840,0.009264,0.059256,0.002800,0.008474,0.000531,0.020002,...,0.352546,0.624857,2014,1,1,0,0,2,0,1388552400
1,2014-01-01 00:15:00,0.377746,0.009904,0.063231,0.009904,0.003734,0.002914,0.008633,0.000471,0.009642,...,0.138640,0.239106,2014,1,1,0,15,2,0,1388553300
2,2014-01-01 00:30:00,0.420196,0.010133,0.001511,0.010133,0.121228,0.002630,0.008059,0.000044,0.000011,...,0.226917,0.193279,2014,1,1,0,30,2,0,1388554200
3,2014-01-01 00:45:00,0.290328,0.010029,0.000058,0.010029,0.016986,0.002910,0.008511,0.000411,0.000202,...,0.098616,0.191712,2014,1,1,0,45,2,0,1388555100
4,2014-01-01 01:00:00,0.307616,0.010038,0.000127,0.010038,0.014140,0.002691,0.008500,0.000400,0.000200,...,0.118107,0.189509,2014,1,1,1,0,2,0,1388556000

In [124]:
# Merge Power Data & Weather Data

merge_df = pd.merge(time_power_df,weather_df, on=['time'],how='outer')
merge_df.head()

,Date & Time,Usage [kW],Generation [kW],WaterHeater [kW],Solar [kW],Refrigerator [kW],Microwave [kW],Furnace [kW],WaterHeater3 [kW],WaterHeater2 [kW],...,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,windBearing,precipIntensity,dewPoint,precipProbability
0,2014-01-01 00:00:00,0.977402,0.009264,0.296840,0.009264,0.059256,0.002800,0.008474,0.000531,0.020002,...,10.0,Clear,8.33,1023.40,12.83,0.0,284.0,0.0,3.36,0.0
1,2014-01-01 00:15:00,0.377746,0.009904,0.063231,0.009904,0.003734,0.002914,0.008633,0.000471,0.009642,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-01 00:30:00,0.420196,0.010133,0.001511,0.010133,0.121228,0.002630,0.008059,0.000044,0.000011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-01 00:45:00,0.290328,0.010029,0.000058,0.010029,0.016986,0.002910,0.008511,0.000411,0.000202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-01 01:00:00,0.307616,0.010038,0.000127,0.010038,0.014140,0.002691,0.008500,0.000400,0.000200,...,10.0,Clear,8.49,1023.36,10.03,0.0,285.0,0.0,2.94,0.0

In [128]:
# Fill Nan Weather Data

def fill_nan_weather_data(merge_df):
    weather_df.columns
    mon = 1
    day = 1
    hr = 0
    weather_col = ['temperature', 'icon', 'humidity', 'visibility', 'summary',
           'apparentTemperature', 'pressure', 'windSpeed', 'cloudCover',
           'windBearing', 'precipIntensity', 'dewPoint', 'precipProbability'
    ]
    for row, time in enumerate(merge_df['Date & Time']):
        cur_mon, cur_date, cur_hr, tem = merge_df[['mon', 'day', 'hr', 'temperature']].iloc[row]
    #     print(tem)
        same_hr = (mon == cur_mon) and (day == cur_date) and (hr == cur_hr)
        if math.isnan(tem) and row > 0:  
            merge_df.loc[row, weather_col] = merge_df.loc[row-1, weather_col]
        elif (cur_mon != mon):
            print(time)

        mon, day, hr = (cur_mon, cur_date, cur_hr)

    return merge_df

merge_df = fill_nan_weather_data(merge_df[:64])
merge_df[['Date & Time', 'time','temperature','humidity']][44:64]

            Date & Time        time  temperature  humidity
59  2014-01-01 14:45:00  1388605500        26.40      0.40
60  2014-01-01 15:00:00  1388606400        26.91      0.39
61  2014-01-01 15:15:00  1388607300        26.91      0.39
62  2014-01-01 15:30:00  1388608200        26.91      0.39
63  2014-01-01 15:45:00  1388609100        26.91      0.39

In [235]:
def show_col_counts(time_power_df, col):
    if col in time_power_df.columns:
        print(f"valid {col} column: ", len(time_power_df[time_power_df[col] != 0]))
    

def show_valid_col_counts(time_power_df, col):
    post_list = ['', '_x', '_y']
    
    for post_fix in post_list:
        show_col_counts(time_power_df, f"{col}{post_fix}")
    

def explore_merge_df(time_power_df):
    use = 'use [kW]'
    gen = 'gen [kW]'
    solar = 'Solar [kW]'
    overall = 'House overall [kW]'
    
    show_valid_col_counts(time_power_df, use)
    show_valid_col_counts(time_power_df, gen)
    show_valid_col_counts(time_power_df, solar)
    show_valid_col_counts(time_power_df, overall)

In [126]:
def merge_process_single_meter(house_id, year, meter_id):
    weather_df = pd.read_csv(f'./data/Home{house_id}/home{house_id}{year}.csv')
    power_df = pd.read_csv(f'./data/Home{house_id}/{year}/Home{house_id}-meter{meter_id}_{year}.csv')
    
    time_power_df = add_time_features(power_df)
    merge_df = pd.merge(time_power_df,weather_df, on=['time'],how='outer')
    merge_df = fill_nan_weather_data(merge_df)

    # save files
    time_power_df.to_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_time_{meter_id}.csv', index=None)
    merge_df.to_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_merge_{meter_id}.csv', index=None)
    
    return time_power_df, merge_df


house_id = 'F'
meter_id = 2
time_power_df, merge_df = merge_process_single_meter(house_id, 2014, meter_id)
merge_process_single_meter(house_id, 2015, meter_id)

merge_df[['Date & Time', 'time','temperature','humidity']][44:64]

2014-02-01 00:00:00
2014-03-01 00:00:00
2014-04-01 00:00:00
2014-05-01 00:00:00
2014-06-01 00:00:00
2014-07-01 00:00:00
2014-08-01 00:00:00
2014-09-01 00:00:00
2014-10-01 00:00:00
2014-11-01 00:00:00
2014-12-01 00:00:00
nan
2015-02-01 00:00:00
2015-03-01 00:00:00
2015-04-01 00:00:00
2015-05-01 00:00:00
2015-06-01 00:00:00
2015-07-01 00:00:00
2015-08-01 00:00:00
2015-09-01 00:00:00
2015-10-01 00:00:00
2015-11-01 00:00:00
2015-12-01 00:00:00
nan

            Date & Time        time  temperature  humidity
44  2014-01-01 11:00:00  1388592000        23.60      0.49
45  2014-01-01 11:15:00  1388592900        23.60      0.49
46  2014-01-01 11:30:00  1388593800        23.60      0.49
47  2014-01-01 11:45:00  1388594700        23.60      0.49
48  2014-01-01 12:00:00  1388595600        25.08      0.45
49  2014-01-01 12:15:00  1388596500        25.08      0.45
50  2014-01-01 12:30:00  1388597400        25.08      0.45
51  2014-01-01 12:45:00  1388598300        25.08      0.45
52  2014-01-01 13:00:00  1388599200        26.54      0.41
53  2014-01-01 13:15:00  1388600100        26.54      0.41
54  2014-01-01 13:30:00  1388601000        26.54      0.41
55  2014-01-01 13:45:00  1388601900        26.54      0.41
56  2014-01-01 14:00:00  1388602800        26.40      0.40
57  2014-01-01 14:15:00  1388603700        26.40      0.40
58  2014-01-01 14:30:00  1388604600        26.40      0.40
59  2014-01-01 14:45:00  1388605500        26.40      0.40
60  2014-01-01 15:00:00  1388606400        26.91      0.39
61  2014-01-01 15:15:00  1388607300        26.91      0.39
62  2014-01-01 15:30:00  1388608200        26.91      0.39
63  2014-01-01 15:45:00  1388609100        26.91      0.39

In [119]:
house_id = 'F'
year = 2015
meter_id = 2
pdf = pd.read_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_time_{meter_id}.csv')
mdf = pd.read_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_merge_{meter_id}.csv')

def show_info(df):
    print(df.columns)
    print(df.shape)
    return df[
        ['Date & Time', 'Usage [kW]', 'Generation [kW]', 'Solar [kW]', 'temperature','time']
    ].head(60)

show_info(mdf)

Index(['Date & Time', 'Usage [kW]', 'Generation [kW]', 'WaterHeater [kW]',
       'Solar [kW]', 'Refrigerator [kW]', 'Microwave [kW]', 'Furnace [kW]',
       'WaterHeater3 [kW]', 'WaterHeater2 [kW]', 'WaterHeater1 [kW]',
       'Master_Bdrm [kW]', 'Front_Bdrm [kW]', 'Kit_StoveWall [kW]',
       'Dishwasher_Disposal [kW]', 'Kit_SinkWall [kW]', 'Family_Rm [kW]',
       'Kit_Half-Bath_Foyer [kW]', 'Washing_Machine [kW]',
       'Guest_Bdrm_SmkDet [kW]', 'Dryer [kW]', 'Basement [kW]', 'Phase_B [kW]',
       'Phase_A [kW]', 'year', 'mon', 'day', 'hr', 'min', 'weekday',
       'is_holiday', 'time', 'temperature', 'icon', 'humidity', 'visibility',
       'summary', 'apparentTemperature', 'pressure', 'windSpeed', 'cloudCover',
       'windBearing', 'precipIntensity', 'dewPoint', 'precipProbability'],
      dtype='object')
(35054, 45)

,Date & Time,Usage [kW],Generation [kW],Solar [kW],temperature,time
0,2015-01-01 00:00:00,0.998883,0.010167,0.010167,NaN,1420041600
1,2015-01-01 00:15:00,1.099774,0.010407,0.010407,NaN,1420042500
2,2015-01-01 00:30:00,0.798477,0.011024,0.011024,NaN,1420043400
3,2015-01-01 00:45:00,0.751758,0.010909,0.010909,NaN,1420044300
4,2015-01-01 01:00:00,0.827793,0.011184,0.011184,NaN,1420045200
5,2015-01-01 01:15:00,0.762484,0.011124,0.011124,NaN,1420046100
6,2015-01-01 01:30:00,0.936040,0.011356,0.011356,NaN,1420047000
7,2015-01-01 01:45:00,0.979051,0.011504,0.011504,NaN,1420047900
8,2015-01-01 02:00:00,1.135666,0.011816,0.011816,NaN,1420048800
9,2015-01-01 02:15:00,0.925816,0.011229,0.011229,NaN,1420049700
10,2015-01-01 02:30:00,1.193061,0.011549,0.011549,NaN,1420050600
11,2015-01-01 02:45:00,0.710720,0.010949,0.010949,NaN,1420051500
12,2015-01-01 03:00:00,1.154542,0.011693,0.011693,NaN,1420052400
13,2015-01-01 03:15:00,0.981076,0.011671,0.011671,NaN,1420053300
14,2015-01-01 03:30:00,0.857489,0.011151,0.011151,NaN,1420054200
15,2015-01-01 03:45:00,0.949974,0.011304,0.011304,NaN,1420055100
16,2015-01-01 04:00:00,1.249321,0.011996,0.011996,NaN,1420056000
17,2015-01-01 04:15:00,1.596737,0.012502,0.012502,NaN,1420056900
18,2015-01-01 04:30:00,1.479117,0.012553,0.012553,NaN,1420057800
19,2015-01-01 04:45:00,1.548014,0.012300,0.012300,NaN,1420058700
20,2015-01-01 05:00:00,1.618714,0.012638,0.012638,NaN,1420059600
21,2015-01-01 05:15:00,1.663257,0.012671,0.012671,NaN,1420060500
22,2015-01-01 05:30:00,1.248236,0.012109,0.012109,NaN,1420061400
23,2015-01-01 05:45:00,1.254206,0.011980,0.011980,NaN,1420062300
24,2015-01-01 06:00:00,1.127340,0.011998,0.011998,NaN,1420063200
25,2015-01-01 06:15:00,1.006060,0.011558,0.011558,NaN,1420064100
26,2015-01-01 06:30:00,1.214852,0.009636,0.009636,NaN,1420065000
27,2015-01-01 06:45:00,1.268758,0.010040,0.010040,NaN,1420065900
28,2015-01-01 07:00:00,0.517963,0.011431,0.011431,NaN,1420066800
29,2015-01-01 07:15:00,0.515052,0.002269,0.002269,NaN,1420067700
30,2015-01-01 07:30:00,0.718482,0.080460,0.080460,NaN,1420068600
31,2015-01-01 07:45:00,0.575469,0.786658,0.786658,NaN,1420069500
32,2015-01-01 08:00:00,0.596033,2.031167,2.031167,NaN,1420070400
33,2015-01-01 08:15:00,0.562929,2.713922,2.713922,NaN,1420071300
34,2015-01-01 08:30:00,0.581903,3.302260,3.302260,NaN,1420072200
35,2015-01-01 08:45:00,0.341442,3.907809,3.907809,NaN,1420073100
36,2015-01-01 09:00:00,0.478827,4.453093,4.453093,NaN,1420074000
37,2015-01-01 09:15:00,1.099719,4.973913,4.973913,NaN,1420074900
38,2015-01-01 09:30:00,1.061359,5.445553,5.445553,NaN,1420075800
39,2015-01-01 09:45:00,1.025694,5.872967,5.872967,NaN,1420076700
40,2015-01-01 10:00:00,0.836940,6.284711,6.284711,NaN,1420077600
41,2015-01-01 10:15:00,0.845523,6.500756,6.500756,NaN,1420078500
42,2015-01-01 10:30:00,1.886887,6.872524,6.872524,NaN,1420079400
43,2015-01-01 10:45:00,5.658060,7.194133,7.194133,NaN,1420080300
44,2015-01-01 11:00:00,1.512807,7.340191,7.340191,NaN,1420081200
45,2015-01-01 11:15:00,3.262347,7.381149,7.381149,NaN,1420082100
46,2015-01-01 11:30:00,4.793684,7.436316,7.436316,NaN,1420083000
47,2015-01-01 11:45:00,1.366498,7.609964,7.609964,NaN,1420083900
48,2015-01-01 12:00:00,1.083230,7.275840,7.275840,NaN,1420084800
49,2015-01-01 12:15:00,0.488161,6.322756,6.322756,NaN,1420085700
50,2015-01-01 12:30:00,0.436946,7.331087,7.331087,NaN,1420086600
51,2015-01-01 12:45:00,0.322676,6.534391,6.534391,NaN,1420087500
52,2015-01-01 13:00:00,0.467726,6.786360,6.786360,12.57,1420088400
53,2015-01-01 13:15:00,0.377324,7.023449,7.023449,12.57,1420089300
54,2015-01-01 13:30:00,0.304831,5.491991,5.491991,12.57,1420090200
55,2015-01-01 13:45:00,0.441727,3.922100,3.922100,12.57,1420091100
56,2015-01-01 14:00:00,0.277469,2.044307,2.044307,13.76,1420092000
57,2015-01-01 14:15:00,0.332039,1.337487,1.337487,13.76,1420092900
58,2015-01-01 14:30:00,0.322021,1.190313,1.190313,13.76,1420093800
59,2015-01-01 14:45:00,0.296229,0.999738,0.999738,13.76,1420094700

In [240]:
# Main Function -> merge an year whole meter

def merge_process(house_id, year):
    weather_df = pd.read_csv(f'./data/Home{house_id}/home{house_id}{year}.csv')
    
    meters = [1,2,3,4]
    
    start = 0
    for meter_id in meters:
        try:
            power_df = pd.read_csv(f'./data/Home{house_id}/{year}/Home{house_id}-meter{meter_id}_{year}.csv')
            
            start += 1
            if start == 1:
                 all_power_df = power_df
            else:
                 all_power_df = pd.merge(all_power_df, power_df, on=['Date & Time'],how='inner')
    
            
        except FileNotFoundError:
            print(f'{house_id} - {year} - no meter {meter_id}')
    
    time_power_df = add_time_features(all_power_df)
    
    # for house C only
    time_power_df['total gen'] = time_power_df['gen [kW]_x'] + time_power_df['gen [kW]_y']
    
    # merge power data & weather data
    merge_df = pd.merge(time_power_df,weather_df, on=['time'],how='inner')
    
    # save files
    time_power_df.to_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_time_all.csv', index=None)
    merge_df.to_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_merge_all.csv', index=None)
    
    return time_power_df, merge_df


# 30min -> 17520 data a year
# 1hr -> 8760 data a year
# 1min -> 525600 data a year

house_id = 'C'
year = '2014'
time_power_df, merge_df = merge_process(house_id, year)
print('ok')

print("Time Shape", time_power_df.shape)
print("Merge Shape", merge_df.shape)
print("Merge Columns", merge_df.columns)

explore_merge_df(merge_df)

time_power_df.head()

C - 2014 - no meter 3
C - 2014 - no meter 4
ok
Time Shape (17524, 36)
Merge Shape (8749, 49)
Merge Columns Index(['Date & Time', 'use [kW]_x', 'gen [kW]_x', 'House overall [kW]',
       'Dishwasher [kW]', 'Furnace 1 [kW]', 'Furnace 2 [kW]',
       'Home office [kW]', 'Fridge [kW]', 'Wine cellar [kW]',
       'Garage door [kW]', 'Kitchen 12 [kW]', 'Kitchen 14 [kW]',
       'Kitchen 38 [kW]', 'Barn [kW]_x', 'Well [kW]_x', 'Microwave [kW]_x',
       'Living room [kW]', 'Solar [kW]_x', 'use [kW]_y', 'gen [kW]_y',
       'LivingRoomOutlets [kW]', 'Barn [kW]_y', 'Well [kW]_y',
       'Microwave [kW]_y', 'WasherDrier [kW]', 'Solar [kW]_y', 'year', 'mon',
       'day', 'hr', 'min', 'weekday', 'is_holiday', 'time', 'total gen',
       'temperature', 'icon', 'humidity', 'visibility', 'summary',
       'apparentTemperature', 'pressure', 'windSpeed', 'cloudCover',
       'windBearing', 'precipIntensity', 'dewPoint', 'precipProbability'],
      dtype='object')
valid use [kW]_x column:  8749
valid use [kW]_y column:  0
valid gen [kW]_x column:  8557
valid gen [kW]_y column:  8749
valid Solar [kW]_x column:  8557
valid Solar [kW]_y column:  8749
valid House overall [kW] column:  8749

,Date & Time,use [kW]_x,gen [kW]_x,House overall [kW],Dishwasher [kW],Furnace 1 [kW],Furnace 2 [kW],Home office [kW],Fridge [kW],Wine cellar [kW],...,Solar [kW]_y,year,mon,day,hr,min,weekday,is_holiday,time,total gen
0,2014-01-01 00:00:00,2.108589,0.004111,2.108589,0.000023,0.100391,0.063347,0.040204,0.136891,0.004294,...,0.004111,2014,1,1,0,0,2,0,1388505600,0.008221
1,2014-01-01 00:30:00,1.828066,0.004040,1.828066,0.000059,0.170241,0.063181,0.039184,0.146551,0.004210,...,0.004041,2014,1,1,0,30,2,0,1388507400,0.008081
2,2014-01-01 01:00:00,0.960618,0.004423,0.960618,0.000062,0.191079,0.129996,0.039070,0.063167,0.004314,...,0.004422,2014,1,1,1,0,2,0,1388509200,0.008845
3,2014-01-01 01:30:00,0.956158,0.004581,0.956158,0.000056,0.227550,0.274561,0.039026,0.005300,0.004406,...,0.004581,2014,1,1,1,30,2,0,1388511000,0.009162
4,2014-01-01 02:00:00,1.111968,0.004586,1.111968,0.000056,0.272573,0.376884,0.038959,0.005165,0.004447,...,0.004586,2014,1,1,2,0,2,0,1388512800,0.009171

In [302]:
print(merge_df['Solar [kW]_x'][0:24])
print(merge_df['gen [kW]_x'][0:24])

0     0.237463
1     0.133114
2     0.065189
3     0.000621
4     0.004212
5     0.003910
6     0.003528
7     0.004492
8     0.004516
9     0.004152
10    0.004612
11    0.004596
12    0.004549
13    0.004580
14    0.004571
15    0.004517
16    0.004482
17    0.004512
18    0.004501
19    0.004371
20    0.004464
21    0.004509
22    0.004570
23    0.004429
Name: Solar [kW]_x, dtype: float64
0     0.237463
1     0.133114
2     0.065189
3     0.000621
4     0.004212
5     0.003910
6     0.003528
7     0.004492
8     0.004516
9     0.004152
10    0.004612
11    0.004596
12    0.004549
13    0.004580
14    0.004571
15    0.004517
16    0.004482
17    0.004512
18    0.004501
19    0.004371
20    0.004464
21    0.004509
22    0.004570
23    0.004429
Name: gen [kW]_x, dtype: float64

In [80]:
# Main function Concate Each Year Data


years = [2014, 2015, 2016]
house_id = 'C'


def concat_df(house_id, years):
    time_power_df_list = []
    merge_df_list = []
    
    for year in years:
        try:
            time_power_df, merge_df = merge_process(house_id, year)

            time_power_df_list.append(time_power_df)
            merge_df_list.append(merge_df)
        except FileNotFoundError:
            print(f'{house_id} - no year {year}')
    
    # concat whole years
    group_time_power_df = pd.concat(time_power_df_list, axis=0)
    group_merge_df = pd.concat(merge_df_list, axis=0)
    
    # save data
    group_time_power_df.to_csv(f'./data/Home{house_id}/preprocess/home{house_id}_time.csv', index=None)
    group_merge_df.to_csv(f'./data/Home{house_id}/preprocess/home{house_id}_merge.csv', index=None)

print('start concat...')
concat_df(house_id, years)
print('concat ok')

start concat...
concat ok

## Statistics: Single Year

注意： house A 的電力資料從 2016 7/20 11:31 分開始突然有精度為 1min 的資料，但天氣資料還是維持 1小時 1筆

In [134]:
house_id = 'C'
year = 2016
p_df = pd.read_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_time.csv')

def explore_df(df):
    print(df.shape)
    print(df.columns)
    return df.head(24)


def check_min_start():
    last = 30
    for row, minute in enumerate(p_df['min']):
        if (abs(minute - last) != 30):
            print(f"prev: {p_df['Date & Time'].iloc[row-1]}")
            print(f"curr: {p_df['Date & Time'].iloc[row]}")
        last = minute

explore_df(p_df)
# check_min_start()
    
# p_df[p_df['gen [kW]']!=0]

(503910, 17)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'LivingRoomOutlets [kW]',
       'Barn [kW]', 'Well [kW]', 'Microwave [kW]', 'WasherDrier [kW]',
       'Solar [kW]', 'year', 'mon', 'day', 'hr', 'min', 'weekday',
       'is_holiday', 'time'],
      dtype='object')

,Date & Time,use [kW],gen [kW],LivingRoomOutlets [kW],Barn [kW],Well [kW],Microwave [kW],WasherDrier [kW],Solar [kW],year,mon,day,hr,min,weekday,is_holiday,time
0,2016-01-01 00:00:00,0.0,0.004483,0.000917,0.028467,0.000017,0.003067,0.000033,0.004483,2016,1,1,0,0,4,0,1451577600
1,2016-01-01 00:01:00,0.0,0.004467,0.000933,0.028533,0.000017,0.003067,0.000017,0.004467,2016,1,1,0,1,4,0,1451577660
2,2016-01-01 00:02:00,0.0,0.004483,0.000917,0.028533,0.000000,0.003067,0.000033,0.004483,2016,1,1,0,2,4,0,1451577720
3,2016-01-01 00:03:00,0.0,0.004467,0.000933,0.028517,0.000000,0.003067,0.000017,0.004467,2016,1,1,0,3,4,0,1451577780
4,2016-01-01 00:04:00,0.0,0.004450,0.000900,0.028500,0.000000,0.003067,0.000000,0.004450,2016,1,1,0,4,4,0,1451577840

In [86]:
house_id = 'A'
year = 2016
m_df = pd.read_csv(f'./data/Home{house_id}/preprocess/home{house_id}_{year}_merge.csv')

explore_df(m_df)

(8760, 35)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FurnaceHRV [kW]',
       'CellarOutlets [kW]', 'WashingMachine [kW]', 'FridgeRange [kW]',
       'DisposalDishwasher [kW]', 'KitchenLights [kW]', 'BedroomOutlets [kW]',
       'BedroomLights [kW]', 'MasterOutlets [kW]', 'MasterLights [kW]',
       'DuctHeaterHRV [kW]', 'year', 'mon', 'day', 'hr', 'min', 'weekday',
       'is_holiday', 'time', 'temperature', 'icon', 'humidity', 'visibility',
       'summary', 'apparentTemperature', 'pressure', 'windSpeed', 'cloudCover',
       'windBearing', 'precipIntensity', 'dewPoint', 'precipProbability'],
      dtype='object')

,Date & Time,use [kW],gen [kW],FurnaceHRV [kW],CellarOutlets [kW],WashingMachine [kW],FridgeRange [kW],DisposalDishwasher [kW],KitchenLights [kW],BedroomOutlets [kW],...,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,windBearing,precipIntensity,dewPoint,precipProbability
8755,2016-12-31 08:00:00,0.0,0.0,0.087450,0.008617,0.000050,0.001033,0.000000,0.000000,0.004700,...,7.78,Overcast,27.71,1011.53,9.57,1.00,181.0,0.0000,26.33,0.00
8756,2016-12-31 09:00:00,0.0,0.0,0.009667,0.008617,0.000000,0.001050,0.000033,0.000000,0.004650,...,7.22,Partly Cloudy,29.05,1011.56,10.46,0.31,183.0,0.0022,23.15,0.06
8757,2016-12-31 10:00:00,0.0,0.0,0.009767,0.008700,0.000000,0.001050,0.000033,0.000033,0.004683,...,9.39,Clear,28.24,1010.89,11.57,NaN,189.0,0.0048,25.29,0.20
8758,2016-12-31 11:00:00,0.0,0.0,0.009800,0.113817,0.000017,0.001067,0.000067,0.000017,0.004683,...,5.48,Overcast,30.79,1010.85,3.99,1.00,186.0,0.0032,28.23,0.11
8759,2016-12-31 12:00:00,0.0,0.0,0.087867,0.114317,0.000083,0.001033,0.000017,0.000017,0.004717,...,9.32,Clear,28.23,1010.21,6.13,NaN,157.0,0.0031,28.63,0.10

## Statistics: Whole Years

In [63]:
p_df = pd.read_csv(f'./data/Home{house_id}/preprocess/home{house_id}_time.csv')

explore_df(p_df)

(281679, 22)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FurnaceHRV [kW]',
       'CellarOutlets [kW]', 'WashingMachine [kW]', 'FridgeRange [kW]',
       'DisposalDishwasher [kW]', 'KitchenLights [kW]', 'BedroomOutlets [kW]',
       'BedroomLights [kW]', 'MasterOutlets [kW]', 'MasterLights [kW]',
       'DuctHeaterHRV [kW]', 'year', 'mon', 'day', 'hr', 'min', 'weekday',
       'is_holiday', 'time'],
      dtype='object')

,Date & Time,use [kW],gen [kW],FurnaceHRV [kW],CellarOutlets [kW],WashingMachine [kW],FridgeRange [kW],DisposalDishwasher [kW],KitchenLights [kW],BedroomOutlets [kW],...,MasterLights [kW],DuctHeaterHRV [kW],year,mon,day,hr,min,weekday,is_holiday,time
281674,2016-12-31 23:55:00,0.0,0.0,0.086217,0.114800,0.000083,0.001050,0.0,0.000017,0.004667,...,0.013983,0.000033,2016,12,31,23,55,5,1,1483199700
281675,2016-12-31 23:56:00,0.0,0.0,0.086217,0.114683,0.000100,0.001017,0.0,0.000000,0.004667,...,0.013967,0.000050,2016,12,31,23,56,5,1,1483199760
281676,2016-12-31 23:57:00,0.0,0.0,0.086417,0.114583,0.000083,0.001050,0.0,0.000000,0.004667,...,0.013967,0.000033,2016,12,31,23,57,5,1,1483199820
281677,2016-12-31 23:58:00,0.0,0.0,0.086200,0.114417,0.000083,0.001083,0.0,0.000000,0.004717,...,0.014067,0.000050,2016,12,31,23,58,5,1,1483199880
281678,2016-12-31 23:59:00,0.0,0.0,0.086083,0.114200,0.000083,0.001033,0.0,0.000017,0.004667,...,0.013967,0.000033,2016,12,31,23,59,5,1,1483199940

In [73]:
m_df = pd.read_csv(f'./data/Home{house_id}/preprocess/home{house_id}_merge.csv')

explore_df(m_df)

(26254, 35)
Index(['Date & Time', 'use [kW]', 'gen [kW]', 'FurnaceHRV [kW]',
       'CellarOutlets [kW]', 'WashingMachine [kW]', 'FridgeRange [kW]',
       'DisposalDishwasher [kW]', 'KitchenLights [kW]', 'BedroomOutlets [kW]',
       'BedroomLights [kW]', 'MasterOutlets [kW]', 'MasterLights [kW]',
       'DuctHeaterHRV [kW]', 'year', 'mon', 'day', 'hr', 'min', 'weekday',
       'is_holiday', 'time', 'temperature', 'icon', 'humidity', 'visibility',
       'summary', 'apparentTemperature', 'pressure', 'windSpeed', 'cloudCover',
       'windBearing', 'precipIntensity', 'dewPoint', 'precipProbability'],
      dtype='object')

,Date & Time,use [kW],gen [kW],FurnaceHRV [kW],CellarOutlets [kW],WashingMachine [kW],FridgeRange [kW],DisposalDishwasher [kW],KitchenLights [kW],BedroomOutlets [kW],...,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,windBearing,precipIntensity,dewPoint,precipProbability
26249,2016-12-31 08:00:00,0.0,0.0,0.087450,0.008617,0.000050,0.001033,0.000000,0.000000,0.004700,...,7.78,Overcast,27.71,1011.53,9.57,1.00,181.0,0.0000,26.33,0.00
26250,2016-12-31 09:00:00,0.0,0.0,0.009667,0.008617,0.000000,0.001050,0.000033,0.000000,0.004650,...,7.22,Partly Cloudy,29.05,1011.56,10.46,0.31,183.0,0.0022,23.15,0.06
26251,2016-12-31 10:00:00,0.0,0.0,0.009767,0.008700,0.000000,0.001050,0.000033,0.000033,0.004683,...,9.39,Clear,28.24,1010.89,11.57,NaN,189.0,0.0048,25.29,0.20
26252,2016-12-31 11:00:00,0.0,0.0,0.009800,0.113817,0.000017,0.001067,0.000067,0.000017,0.004683,...,5.48,Overcast,30.79,1010.85,3.99,1.00,186.0,0.0032,28.23,0.11
26253,2016-12-31 12:00:00,0.0,0.0,0.087867,0.114317,0.000083,0.001033,0.000017,0.000017,0.004717,...,9.32,Clear,28.23,1010.21,6.13,NaN,157.0,0.0031,28.63,0.10